<div class="month" *ngIf="month$ | async as month">
    <div class="header row text-center">
        <div class="back fill-row">
            <button class="btn" [disabled]="month.prev" (click)="getNewMonth(month.year, month.index, - 1)">&lt;</button>
        </div>
        <div class="title fill-row">{{ month.name }}</div>
        <div class="next fill-row">
            <button class="btn" (click)="getNewMonth(month.year, month.index, + 1)">&gt;</button>
        </div>
    </div>
    <div class="header-day row">
        <div class="name-day text-center" *ngFor="let name of calendarService.dayNames">
            <span>{{ name }}</span>
        </div>
    </div>
    <div class="days">
        <app-day *ngFor="let day of month.days" [day]="day" (clickDay)="clickDay($event)"></app-day>
    </div>
</div>