@import '../../../../app.theme.scss';

:host {
    .month {
        padding: 1em;
        .header {
            padding: .2em 0;
            background-color: $grey;
            border-radius: 5px;
            .back,
            .next {
                max-width: 10%;
                .btn {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background-color: grey;
                    border: 1px solid black;
                    font-weight: bold;
                }
            }

            .title {
                font-size: 40px;
                max-width: 80%;
                text-transform: capitalize;
            }
        }
        .header-day {
            margin-top: 5px;
            justify-content: space-between;
            align-items: center;
            background: $primary-color;
            color: $white;
            padding: .5rem 0px;
            .name-day {
                width: 14.2%;
                text-transform: capitalize;
            }
        }
    }
}
